<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <button
          class="btn btn-outline-primary"
          :class="{'btn-danger': s.isSelected, 'btn-outline-primary': !s.isSelected, }"
          v-for="s in seat"
          :disabled="s.status"
          :key="s.id"
          @click="toggleBtn(s)"
        >
          {{s.name}}
        </button>
      </div>
      <div
        v-for="s in seat"
        :class="{'disabled': s.status}"
        @click="!s.status && toggleBtn(s)"
      >
        <div
          class="btn btn-outline-primary"
          :class="{'btn-danger': s.isSelected, 'btn-outline-primary': !s.isSelected, }"
          :key="s.id"
        >
          {{s.name}}
        </div>
      </div>
    </div>
  </body>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue;
    const config = {
      setup() {
        const choosedBtn = true;
        const toggleBtn = (seatItem) => {
          seatItem.isSelected = !seatItem.isSelected;
        };
        const seat = ref([
          { id: 1, name: "A1", status: false, isSelected: false },
          { id: 2, name: "A2", status: false, isSelected: false },
          { id: 3, name: "A3", status: true, isSelected: false },
          { id: 4, name: "A4", status: true, isSelected: false },
        ]);

        return { seat, toggleBtn };
      },
    };
    const app = createApp(config);
    app.mount("#app");
  </script>
</html>
