<!DOCTYPE html>
<html lang="zw-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myBuyDirectly</title>
    <link rel="icon" href="images/LOGO.png" type="image/png" />
  </head>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/myheader.css" />
  <style>
    .confirmBuying {
      position: sticky;
      top: 252px;
    }
    .isMobile {
      display: none;
    }

    @media (max-width: 805px) {
      .isPc {
        display: none;
      }

      .isMobile {
        background-color: #fff;
        width: 300px;
        display: block;
        position: fixed;
        bottom: 10px;
        right: 20px;
      }
    }

    .course-title {
      max-height: 150px;
      overflow: auto;
    }
    .credit-textbox {
      border-radius: 5px;
      border-width: 1px;
    }

    .cardNumber {
      width: 85%;
    }

    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border: 2px solid #ccc;
      border-radius: 50%;
      outline: none;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
    }

    input[type="radio"]:checked {
      border-color: #5b468b;
      background-color: white;
    }

    input[type="radio"]:checked::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 7px;
      height: 7px;
      background-color: #5b468b;
      border-radius: 50%;
    }
  </style>
  <body>
    <div id="app">
      <div class="sticky-top">
        <my-header></my-header>
      </div>

      <!-- 顯示立刻購買頁面start -->
      <div class="mb-4 pt-3">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <!-- 付款方式start -->
              <h1 class="mt-5 fw-bolder mb-4">付款方式</h1>
              <div class="border rounded shadow p-3 fw-bolder">
                <label>
                  <input
                    type="radio"
                    value="creditCard"
                    v-model="selectedPayment"
                    class="ms-2"
                  />
                  信用卡付款
                </label>
                <!-- 顯示信用卡表單start -->
                <div
                  v-if="selectedPayment === 'creditCard'"
                  class="mt-3 credit-form"
                >
                  <div class="m-3">
                    <input
                      type="text"
                      id="cardNumber"
                      placeholder="信用卡卡號"
                      class="credit-textbox cardNumber p-2"
                    />
                  </div>

                  <div class="m-3 row">
                    <input
                      type="text"
                      id="expiryDate"
                      placeholder="MM/YY"
                      class="credit-textbox col-4 p-2 me-2"
                    />
                    <input
                      type="text"
                      id="cvv"
                      placeholder="末三碼"
                      class="credit-textbox col-4 p-2"
                    />
                  </div>
                </div>
                <!-- 顯示信用卡表單end -->
                <hr class="mt-4" />
                <label>
                  <input
                    type="radio"
                    value="atm"
                    v-model="selectedPayment"
                    class="ms-2"
                  />
                  ATM轉帳
                </label>
                <hr class="mt-4" />
                <label class="mb-2">
                  <input
                    type="radio"
                    value="store"
                    v-model="selectedPayment"
                    class="ms-2"
                  />
                  超商繳費
                </label>
              </div>
              <!-- 付款方式end -->

              <!-- 發票資料start -->
              <h1 class="mt-5 fw-bolder mb-4">發票資料</h1>
              <div class="border rounded shadow p-3 fw-bolder">
                <label>
                  <input
                    type="radio"
                    value="creditCard"
                    v-model="selectedReceipt"
                    class="ms-2"
                  />
                  電子發票
                </label>
                <hr class="mt-4" />
                <label>
                  <input
                    type="radio"
                    value="atm"
                    v-model="selectedReceipt"
                    class="ms-2"
                  />
                  捐贈發票
                </label>
                <hr class="mt-4" />
                <label class="mb-2">
                  <input
                    type="radio"
                    value="store"
                    v-model="selectedReceipt"
                    class="ms-2"
                  />
                  統編發票
                </label>
              </div>
              <!-- 發票資料end -->

              <!-- 聯絡資料start -->
              <h1 class="mt-5 fw-bolder mb-4">聯絡資料</h1>
              <div class="border rounded shadow p-3 fw-bolder mb-5">
                <div class="mb-3 contact-form">
                  <label for="realName" class="form-label">真實姓名</label>
                  <input type="text" class="form-control" id="realName" />
                </div>

                <div class="mb-3 contact-form">
                  <label for="phone" class="form-label">連絡電話</label>
                  <input type="text" class="form-control" id="phone" />
                </div>

                <div class="mb-3 contact-form">
                  <label for="email" class="form-label">聯絡信箱</label>
                  <input type="email" class="form-control" id="email" />
                </div>

                <div class="mb-3" style="font-size: 14px">
                  <p>電子發票、課程相關通知會寄送到此信箱</p>
                </div>
              </div>
              <!-- 聯絡資料end -->
            </div>

            <!-- 訂單明細start -->
            <div class="isPc col-md-5 mb-4">
              <div class="confirmBuying border shadow p-4 rounded">
                <h3 class="fw-bolder">訂單明細</h3>
                <hr class="mt-3" />
                <div class="d-lg-flex mb-3">
                  <img
                    :src="course.img"
                    alt="courseImg"
                    class="img-fluid rounded mb-3 me-3"
                    style="max-width: 150px"
                  />
                  <div class="text-wrap">
                    <h5 class="course-title fw-bolder">{{course.title}}</h5>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <h6 class="fw-bolder">商品小計</h6>
                  <h6 class="fw-bolder">NT${{course.price}}</h6>
                </div>
                <div class="d-flex justify-content-between">
                  <h3 class="fw-bolder">總金額</h3>
                  <h3 class="fw-bolder">NT${{course.price}}</h3>
                </div>
                <hr />
                <div class="row me-3">
                  <button class="btn btn-warning p-3 m-3 mt-2">確認付款</button>
                </div>
                <div class="text-center">
                  <small class="fw-bolder">
                    確認購買即表示您以詳閱
                    &lt;Chimo!用戶交易條款&gt;，並同意條款內容。
                  </small>
                </div>
              </div>
            </div>
          </div>
          <!-- 訂單明細end -->

          <div class="isMobile col-md-5 mb-4">
            <div class="confirmBuying border shadow p-4 rounded">
              <div class="d-flex justify-content-between">
                <h3 class="fw-bolder">總金額</h3>
                <h3 class="fw-bolder">NT${{course.price}}</h3>
              </div>
              <hr />
              <div class="row me-3">
                <button class="btn btn-warning p-3 m-3 mt-2">確認付款</button>
              </div>
            </div>
          </div>
        </div>
        <!-- 顯示立刻購買頁面end -->
      </div>

      <footer
        style="
          height: 150px;
          background-color: #5b468b;
          display: grid;
          place-items: center;
        "
      >
        <img
          src="images/logo2_w.png"
          alt="logo"
          style="width: 300px; padding-top: 10px"
        />
        <small class="text-light">&copy; chimo!</small>
      </footer>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.global.js"></script>
    <script src="js/myheader.js"></script>
    <script>
      const { createApp, ref } = Vue;
      const config = {
        setup() {
          const course = ref({
            id: 1,
            img: "images/thumbnail.jpg",
            title: "1.反映女孩子只需第一個東京一本，",
            teacher: "Mr.C",
            price: 1000,
            buyDate: "2024/09/11",
          });

          const selectedPayment = ref("");

          const selectedReceipt = ref("");

          return { selectedPayment, selectedReceipt, course };
        },
      };
      const app = createApp(config);
      app.component("my-header", myHeader);
      app.mount("#app");
    </script>
  </body>
</html>
