<!DOCTYPE html>
<html lang="zw-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myCourse</title>
  </head>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/myheader.css" />
  <style>
    body {
      background-color: #eee;
    }
    .list-group {
      position: sticky;
      top: 17.5vh;
    }
    .list-group-item img {
      max-height: 10vw;
    }
    .list-group-item {
      min-height: 60px;
      font-size: 1.2rem;
      font-weight: bolder;
    }
    .list-group-item.active {
      background-color: #5b468b;
    }
    .chargeTag {
      color: #fff;
    }
    .content {
      background-color: #fff;
    }

    .status {
      color: #5b468b;
    }

    .thumbnail {
      transition: transform 0.3s ease;
      will-change: transform;
    }
    .thumbnail:hover {
      transform: scale(1.05);
    }
  </style>
  <body>
    <div id="app">
      <div class="sticky-top">
        <my-header></my-header>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-4 mt-3 mb-3">
            <div class="text-center list-group">
              <div class="list-group-item">
                <img
                  src="images/profilePic.PNG"
                  alt="profile"
                  class="img-fluid m-3"
                />
                <h4 class="fw-bolder">{{member.name}}</h4>
                <p>
                  會員點數：<span class="specialCount">{{member.point}}</span>
                  pt
                  <button class="chargeTag btn btn-warning p-1 ms-2">
                    儲值
                  </button>
                </p>
              </div>

              <a
                href="member.html"
                class="list-group-item list-group-item-action align-content-center border-0 rounded"
                aria-current="true"
              >
                會員資料
              </a>
              <a
                href="myCourses.html"
                class="list-group-item list-group-item-action align-content-center border-0 rounded"
                aria-current="true"
              >
                我的課程
              </a>
              <a
                href="myCollections.html"
                class="list-group-item list-group-item-action align-content-center border-0 rounded"
                aria-current="true"
              >
                我的收藏
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action active align-content-center border-0 rounded"
                aria-current="true"
              >
                購買紀錄
              </a>
            </div>
          </div>
          <div class="content col-8 mt-3 mb-3">
            <section class="m-4">
              <div class="d-flex justify-content-between">
                <h4 class="fw-bolder">購買紀錄</h4>
              </div>
              <hr />
              <div v-for="order in orders" :key="order.id">
                <div class="d-flex justify-content-between">
                  <h6>{{order.buyDate}}</h6>
                  <h6 class="status fw-bolder">[ {{order.status}} ]</h6>
                </div>
                <div
                  v-for="items in order.orderItems"
                  :key="items.id"
                  class="row align-items-center"
                >
                  <div class="col-md-5 col-sm-12 mt-1">
                    <a href="course.html">
                      <img
                        :src="items.thumbnail"
                        alt="thumbnail"
                        class="thumbnail img-fluid rounded mt-2"
                      />
                    </a>
                  </div>
                  <div class="col-md-6 col-sm-12 mt-2">
                    <h5 class="fw-bolder">{{items.courseName}}</h5>
                    <small>教師 | {{items.teacher}}</small>
                    <h6 class="mt-2 fw-bolder">NT${{items.Price}}</h6>
                  </div>
                </div>

                <h5 class="text-end mt-3 fw-bolder">
                  總金額 NT${{order.totalPrice}}
                </h5>
                <hr />
              </div>
            </section>
          </div>
        </div>
      </div>

      <footer
        style="
          height: 150px;
          background-color: #5b468b;
          display: grid;
          place-items: center;
        "
      >
        <img
          src="images/logo2_w.png"
          alt="logo"
          style="width: 300px; padding-top: 10px"
        />
        <small class="text-light">&copy; chimo!</small>
      </footer>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.global.js"></script>
    <script src="js/myheader.js"></script>
    <script>
      const { createApp, ref } = Vue;
      const config = {
        setup() {
          const member = ref({
            id: 1,
            name: "會員A",
            point: 100,
            updateTime: "2024/09/11",
            gender: 3,
            phone: "01-23456789",
            email: "abc@gmail.com",
            intro: "修改個人簡介",
          });
          const orders = ref([
            {
              id: 1,
              buyDate: "2024/09/11",
              status: "已付款",
              totalPrice: 2000,
              orderItems: [
                {
                  id: 1,
                  thumbnail: "images/thumbnail.jpg",
                  courseName: "課程名稱",
                  teacher: "Mr.C",
                  Price: 1000,
                },
                {
                  id: 2,
                  thumbnail: "images/thumbnail.jpg",
                  courseName: "課程名稱",
                  teacher: "Mr.C",
                  Price: 1000,
                },
              ],
            },
            {
              id: 2,
              buyDate: "2024/09/11",
              status: "已付款",
              totalPrice: 1000,
              orderItems: [
                {
                  id: 1,
                  thumbnail: "images/thumbnail.jpg",
                  courseName: "課程名稱",
                  teacher: "Mr.C",
                  Price: 1000,
                },
              ],
            },
          ]);
          return { member, orders };
        },
      };
      const app = createApp(config);
      app.component("my-header", myHeader);
      app.mount("#app");
    </script>
  </body>
</html>
