@{
    ViewBag.Title = "首頁";
    // 假設公告內容來自於 ViewBag，你可以根據實際情況從模型或其他來源獲取公告內容
    var announcements = new List<string>
{
        "會員管理：顯示會員清單及其詳細資訊。管理者可以在表格中修改會員狀態(啟用、停用)",
    
        "會員詳細資料：管理者可以通過輸入會員名稱來搜尋特定會員，並顯示其相關資訊。<br>搜尋結果會顯示在頁面上，包括會員的基本資訊、訂單紀錄、持有課程及點數歷史紀錄。<br>當搜尋到會員時，會顯示對應的功能按鈕，管理者可以查看詳細資料或處理警告訊息。 ",
 
        "課程管理：顯示課程清單及其詳細資訊。管理者可以在表格中編輯課程狀態(上架、下架)",

    };
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
        .alert {
            border-radius: 0.25rem;
            padding: 1rem;
            margin-bottom: 1rem;
        }

        .alert-heading {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .blockquote-footer {
            font-size: 0.875rem;
            color: #6c757d;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <!-- 系統公告區 -->
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">使用須知</h4>
            <p>歡迎使用我們的後台管理系統！以下有幾點請注意：</p>
            <ul>
                @foreach (var announcement in announcements)
                {
                    <li>@Html.Raw(announcement)</li>
                }
            </ul>
            <hr>
            <footer class="blockquote-footer">若有任何問題，請聯絡資訊部門</footer>
        </div>
    </div>


</body>
</html>
