
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px) rotate(-3deg);
    }

    50% {
        transform: translateX(5px) rotate(3deg);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes squish {
    0% {
        transform: scaleY(1);
    }

    25% {
        transform: scaleY(0.7);
    }

    50% {
        transform: scaleY(1.1);
    }

    75% {
        transform: scaleY(0.9);
    }

    100% {
        transform: scaleY(1);
    }

}

@keyframes slideIn {
    0% {
        transform: translateY(100%); /* 從下方滑入 */
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 定義從下方滑出的動畫 */
@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%); /* 從下方滑出 */
        opacity: 0;
    }
}

@keyframes popUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }    

    100% {
        transform: scale(1);
    }
}