* {
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}
.ad-banner {
    align-content: center;
    height: 60px;
    letter-spacing: 0.2em;
    background: linear-gradient(to bottom, #2b1b41 50%, #5b468b );
    color: white;
}
.navbarA {
  background-color: #fff;
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  top: 0;
  z-index: 1000;
}
.navLeft {
  flex-grow: 1;
}
.searchbar {
  height: 50px;
  flex-grow: 1;
}

.headerLogin {
  text-wrap: nowrap;
}
.headerLogin:hover {
  background-color: #5b468b;
  color: #fff;
}

.navbarA ul {
  list-style: none;
  align-items: baseline;
}

.navbarA .dropdown img {
  max-width: 60px;
}

.navbarA .dropdown li:hover {
  background-color: #5b468b;
  color: #fff;
}

.tag {
  background-color: #5b468b;
  color: #fff;
}

.headerLogo:hover {
  animation: scaleUpDown 0.6s ease;
}


.avatarA {
    border-radius: 50%;
}

.avatar:hover {
  transform: scale(1.1);
}

.btn:hover{
  transform: scale(1.05);
}

.specialCount {
  color: #5b468b;
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1); /* 初始状态 */
  }
  20% {
    transform: rotate(-15deg)scale(1.1) ; /* 放大到 120% */
  }
  50%{
    transform: rotate(3deg) ;
  }
  100% {
    transform: scale(1); /* 恢复到原始大小 */
  }
}



