
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/myLogin.css" rel="stylesheet" />
<style>

    .register img {
        min-height: 15vh;
        max-height: 15vw;
    }
</style>

<div id="app">
    <div class="sticky-top"><my-header></my-header></div>
    <div class="row">
        <div class="loginPic col-sm-12 col-md-8">
            <img src="../images/loginPic.jpg" alt="loginPic" class="img-fluid" />
        </div>
        <div class="loginForm col-md-4 p-5">
            <h2 class="mb-3">註冊</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="text"
                   name="userName"
                   id="userEmail"
                   placeholder="使用者名稱"
                   class="form-control mb-3" />
            <input type="text"
                   name="userEmail"
                   id="userEmail"
                   placeholder="電子信箱"
                   class="form-control mb-3" />
            <input type="password"
                   name="userPassword"
                   id="userPassword"
                   placeholder="密碼"
                   class="form-control mb-3"
                   style="color: #5b468b" />
            <input type="password"
                   name="confirmPassword"
                   id="confirmPassword"
                   placeholder="確認密碼"
                   class="form-control mb-3 col-12"
                   style="color: #5b468b" />

            <a href="RegisterDetail">
                <button style="height: 65px"
                        class="loginBtn btn align-center col-12 mb-3 p-3">
                    註冊
                </button>
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue;
        const config = {
            setup() {
                return {};
            },
        };
        const app = createApp(config);
        app.mount("#app");
    </script>
}