
@{
    ViewBag.Title = "ResetPassword";
}


@{
    ViewBag.Title = "ResetPassword";
}

<link href="~/Content/myLogin.css" rel="stylesheet" />

<div id="app">

    <div class="row">
        <div class="loginPic col-sm-12 col-md-8">
            <img src="../images/loginPic.jpg" alt="loginPic" class="img-fluid" />
        </div>
        <div class="loginForm col-md-4 p-5">
            <div class="d-flex justify-content-between ">
                <h2 class="mb-3">重設密碼</h2>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <form   novalidate>
            <input type="password"
                   name="newPassword"
                   id="newPassword"
                   placeholder="新密碼"
                   class="form-control mb-3"
                   style="min-width: 200px;" />

            <input type="password"
                   name="confirmNewPassword"
                   id="confirmNewPassword"
                   placeholder="確認新密碼"
                   class="form-control mb-3"
                   style="min-width: 200px" />

            <input type="submit" name="confirm" value="確認" style="height: 65px"
                   v-on:click="confirm"
                   class="loginBtn btn align-center col-12 mb-1 p-3" />           
        </form>


        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/vue.global.js"></script>
    <script src="~/Scripts/myheader.js"></script>
    <script>
        const { createApp, ref } = Vue;
        const config = {
            setup() {
                const newPassword = ref('');
                const confirmNewPassword = ref('');
                const errorMessage = ref('');

                //todo 重設密碼
                /* 
                const submitForm = () => {
                    const newPasswordInput = document.getElementById('newPassword');
                    const confirmNewInput = document.getElementById('confirmNewPassword');

                    newPasswordInput.setCustomValidity(email.value ? '' : '請輸入新密碼');
                    confirmNewInput.setCustomValidity(password.value ? '' : '請輸入相同密碼');

                    if (!newPasswordInput.value) {
                        newPasswordInput.reportValidity();
                        return;
                    }
                    else if (!confirmNewInput.value) {
                        confirmNewInput.reportValidity();
                        return;
                    }
                    else if (newPasswordInput.value != confirmNewInput.value) {
                        errorMessage="密碼不一致，請重新輸入"
                    }

                    confirm(); // 如果驗證通過，執行登入
                };
                */
                return { newPassword, confirmNewPassword, errorMessage };
            },
        };
        const app = createApp(config);
        app.mount("#app");
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}






