
@{
    ViewBag.Title = "TopUp";
}

<link href="~/Content/media.css" rel="stylesheet" />

<style>
    .solution-img {
        width: 70px;
        height: 70px;
    }

    label:hover {
        cursor: pointer;
    }

    .solution-block {
        width: 156px;
        height: 156px;
        transition: transform 0.15s;
    }

        .solution-block:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

    .credit-textbox {
        border-radius: 5px;
        border-width: 1px;
    }

    .cardNumber {
        width: 85%;
    }

    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border: 2px solid #ccc;
        border-radius: 50%;
        outline: none;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
    }

        input[type="radio"]:checked {
            border-color: #5b468b;
            background-color: white;
        }

            input[type="radio"]:checked::after {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 7px;
                height: 7px;
                background-color: #5b468b;
                border-radius: 50%;
            }

    .border-selected {
        border-color: #e5a12d !important;
        border-width: 5px !important;
    }

    .order-img {
        width: 20px;
        height: 20px;
    }

    .total-img {
        width: 30px;
        height: 30px;
    }

    .member-point {
        width: 25px;
        height: 25px;
    }

    .confirmBtn {
        color: #fff;
        background-color: #5b468b;
    }

        .confirmBtn:hover {
            color: #fff;
            background-color: #342557 !important;
        }

    .alertImg {
        animation: squish 0.5s ease;
        transform-origin: bottom;
    }


    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1050;
    }

    .modal-content {
        width: 300px;
    }
</style>

<div id="app">
    @* 警告modal *@
    <div class="modal" v-if="modal.isModalVisible">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0 mt-0">
                    <button type="button"
                            class="btn-close"
                            v-on:click="modal.hideModal()"></button>
                </div>
                <div class="text-center">
                    <img :src="modal.img"
                         alt="point"
                         class="alertImg mt-4"
                         style="max-width: 100px" />
                    <div class="modal-body">
                        <h5><pre class="mb-0" style="line-height:30px">{{modal.message}}</pre></h5>
                    </div>
                </div>
                <div class="text-center mb-4" v-if="!modal.isTopUp">
                    <button class="confirmBtn btn btn-md"
                            v-on:click="modal.hideModal()">
                        確認
                    </button>
                </div>
                <div class="text-center mb-4" v-if="modal.isTopUp">
                    <button class="confirmBtn btn btn-md"
                            v-on:click="BackToLastPage">
                        確認
                    </button>
                </div>

            </div>
        </div>
    </div>
    @* 警告modal *@
    <!-- 顯示儲值頁面start -->
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- 儲值方案start -->
                <div class="d-flex justify-content-between align-items-baseline">
                    <h1 class="mt-4 fw-bolder mb-4">儲值方案</h1>
                    <h4 class="fw-bolder">
                        持有點數:
                        <img src="~/images/point.png"
                             alt="memberPoint"
                             class="member-point me-1 mb-1" />{{member.point}}
                    </h4>
                </div>
                <div class="border rounded shadow p-3 gap-3 d-flex flex-wrap justify-content-center">
                    <div v-for="solution in solutions"
                         :key="solution.id"
                         class="border solution-block rounded fw-bolder text-center pt-2"
                         :class="{ 'border-selected': isSelected(solution.id)}"
                         v-on:click="toggleSelection(solution.id)">
                        <div>
                            <img :src="solution.img"
                                 alt="pointImg"
                                 class="img-fluid rounded-4 solution-img mb-3" />
                            <div class="solution-price">
                                <span>{{solution.point}}pt</span>
                                <h5 class="mt-1 fw-bold">NT${{solution.cash}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 儲值方案end -->
                <!-- 付款方式start -->
                <h1 class="mt-5 fw-bolder mb-4">付款方式</h1>
                <div class="border rounded shadow p-3 fw-bolder">
                    <label>
                        <input type="radio"
                               value="creditCard"
                               v-model="selectedPayment"
                               class="ms-2 mt-2" />
                        信用卡付款
                    </label>
                    <!-- 顯示信用卡表單start -->
                    <div v-if="selectedPayment === 'creditCard'"
                         class="mt-3 credit-form">
                        <div class="m-3">
                            <input type="text"
                                   id="cardNumber"
                                   placeholder="輸入信用卡卡號"
                                   class="credit-textbox cardNumber p-2" />
                        </div>

                        <div class="m-3 row">
                            <input type="text"
                                   id="expiryDate"
                                   placeholder="MM/YY"
                                   class="credit-textbox col-4 p-2 me-2" />
                            <input type="text"
                                   id="cvv"
                                   placeholder="末三碼"
                                   class="credit-textbox col-4 p-2" />
                        </div>
                    </div>
                    <!-- 顯示信用卡表單end -->
                    <hr />
                    <label>
                        <input type="radio"
                               value="atm"
                               v-model="selectedPayment"
                               class="ms-2" />
                        ATM轉帳
                    </label>
                    <hr />
                    <label class="mb-2">
                        <input type="radio"
                               value="store"
                               v-model="selectedPayment"
                               class="ms-2" />
                        超商繳費
                    </label>
                </div>
                <!-- 付款方式end -->
                <!-- 發票資料start -->
                <h1 class="mt-5 fw-bolder mb-4">發票資料</h1>
                <div class="border rounded shadow p-3 fw-bolder">
                    <label>
                        <input type="radio"
                               value="creditCard"
                               v-model="selectedReceipt"
                               class="ms-2" />
                        電子發票
                    </label>
                    <hr />
                    <label>
                        <input type="radio"
                               value="atm"
                               v-model="selectedReceipt"
                               class="ms-2" />
                        捐贈發票
                    </label>
                    <hr />
                    <label class="mb-2">
                        <input type="radio"
                               value="store"
                               v-model="selectedReceipt"
                               class="ms-2" />
                        統編發票
                    </label>
                </div>
                <!-- 發票資料end -->
                <!-- 聯絡資料start -->
                <h1 class="mt-5 fw-bolder mb-4">聯絡資料</h1>
                <div class="border rounded shadow p-3 fw-bolder mb-5">
                    <div class="mb-3 contact-form">
                        <label for="realName" class="form-label">真實姓名</label>
                        <input type="text" class="form-control" id="realName" />
                    </div>

                    <div class="mb-3 contact-form">
                        <label for="phone" class="form-label">連絡電話</label>
                        <input type="text" class="form-control" id="phone" />
                    </div>

                    <div class="mb-3 contact-form">
                        <label for="email" class="form-label">聯絡信箱</label>
                        <input type="email" class="form-control" id="email" />
                    </div>

                    <div class="mb-3" style="font-size: 14px">
                        <p>電子發票、課程相關通知會寄送到此信箱</p>
                    </div>
                </div>
                <!-- 聯絡資料end -->
            </div>
            <!-- 儲值明細start -->
            <div class="isPc col-md-5 mb-4">
                <div class="confirmBuying border shadow p-4 rounded">
                    <h3 class="fw-bolder">本次儲值明細</h3>
                    <hr />
                    <div class="d-flex justify-content-between"
                         v-if="selectedSolution.id>0">
                        <h5 class="fw-bolder">
                            <img :src="selectedSolution.img"
                                 alt="pointImg"
                                 class="order-img me-2 mb-1" />{{selectedSolution.point}}
                        </h5>
                        <p class="fw-bolder">NT${{selectedSolution.cash}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h3 class="fw-bolder">總點數</h3>
                        <h3 class="fw-bolder">
                            <img src="~/images/point.png"
                                 alt="totalImg"
                                 class="total-img me-2 mb-1" />{{selectedSolution.point}}
                        </h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h3 class="fw-bolder">總金額</h3>
                        <h3 class="fw-bolder">NT${{selectedSolution.cash}}</h3>
                    </div>
                    <hr />
                    <div class="row me-3">
                        <button class="btn btn-warning p-3 m-3 mt-2" v-on:click="confirmTopUp">確認付款</button>
                    </div>
                    <div class="text-center">
                        <small class="fw-bolder">
                            確認購買即表示您以詳閱
                            &lt;Chimo!用戶交易條款&gt;，並同意條款內容。
                        </small>
                    </div>
                </div>
            </div>

            <div class="isMobile mb-4">
                <div class="border shadow p-4">
                    <div class="d-flex justify-content-between">
                        <h3 class="fw-bolder">總點數</h3>
                        <h3 class="fw-bolder">{{selectedSolution.point}}</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h3 class="fw-bolder">總金額</h3>
                        <h3 class="fw-bolder">NT${{selectedSolution.cash}}</h3>
                    </div>
                    <hr />
                    <div class="row me-3">
                        <button class="btn btn-warning p-3 me-3 ms-3" v-on:click="confirmTopUp">確認付款</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 儲值明細end -->
    </div>
    <!-- 顯示儲值頁面end -->
</div>

@section scripts{
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vue.global.js"></script>
    <script src="~/Scripts/myheader.js"></script>
    <script>
        @using Chimo.WebAPI.Site.Models;
        const { createApp, ref, onMounted } = Vue;
        const config = {
            setup() {
                const modal = ref({
                    message: "",
                    img: "",
                    isTopUp: false,
                    isModalVisible: false,
                    showModal() {
                        this.isModalVisible = true;
                    },
                    hideModal() {
                        this.isModalVisible = false;
                    },
                });

                const urlParams = new URLSearchParams(window.location.search);
                const returnUrl = urlParams.get('returnUrl') || '/Home/Index';

                const BackToLastPage = () => {
                    window.location.href = returnUrl;
                }

                const member = ref({
                    id: 0,
                    point: 0,
                });
                const decodeToken = (token) => {
                    const base64Url = token.split('.')[1];
                    const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                    const jsonPayload = decodeURIComponent(atob(base64).split('').map(c =>
                        '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)).join(''));
                    return JSON.parse(jsonPayload);
                };
                const token = '@AuthHelper.GetTokenFromCookie()';
                const decodedMember = decodeToken(token);
                member.value.id = decodedMember.Id;
                member.value.point = decodedMember.Point;

                const selectedSolution = ref({});
                const selectedPayment = ref("");
                const selectedReceipt = ref("");
                // 儲值方案
                const solutions = ref([
                    {
                        id: 1,
                        img: "../images/point.png",
                        point: 33,
                        cash: 30,
                        amount: 33,
                        type: 1,
                    },
                    {
                        id: 2,
                        img: "../images/point.png",
                        point: 110,
                        cash: 100,
                        amount: 110,
                        type: 1,
                    },
                    {
                        id: 3,
                        img: "../images/point.png",
                        point: 275,
                        cash: 250,
                        amount: 275,
                        type: 1,
                    },
                    {
                        id: 4,
                        img: "../images/point.png",
                        point: 550,
                        cash: 500,
                        amount: 550,
                        type: 1,
                    },
                    {
                        id: 5,
                        img: "../images/point.png",
                        point: 1100,
                        cash: 1000,
                        amount: 1100,
                        type: 1,
                    },
                    {
                        id: 6,
                        img: "../images/point.png",
                        point: 1650,
                        cash: 1500,
                        amount:1650,
                        type: 1,
                    },
                    {
                        id: 7,
                        img: "../images/point.png",
                        point: 3300,
                        cash: 3000,
                        amount:3300,
                        type: 1,
                    },
                    {
                        id: 8,
                        img: "../images/point.png",
                        point: 5500,
                        cash: 5000,
                        amount: 5500,
                        type: 1,
                    },
                ]);

                // 選擇儲值方案
                const selectSolution = (solution) => {
                    selectedSolution.value = solution; // 設定選擇的儲值方案
                }

                // 切換選擇的儲值方案
                const toggleSelection = (id) => {
                    const solution = solutions.value.find((s) => s.id === id);

                    if (selectedSolution.value.id === id) {
                        // 若點擊到目前被選取的solution
                        selectedSolution.value = {
                            // 取消選取
                            id: -1,
                            img: "../images/point.png",
                            point: 0,
                            cash: 0,
                            type: 1,
                        };
                    } else {
                        selectedSolution.value = solution; // 選取新的solution
                    }
                };

                // 檢查是否已選擇
                const isSelected = (id) => {
                    return selectedSolution.value.id === id;
                };


                const confirmTopUp = async () => {
                    if (!selectedSolution.value.id) {
                        modal.value.message = "請選擇儲值方案！";
                        modal.value.img = "../images/alert.gif";
                        modal.value.showModal()
                        return;
                    }

                    // 準備請求資料
                    const data = {
                        point: selectedSolution.value.point,
                        cash: selectedSolution.value.cash,
                        amount: selectedSolution.value.amount,
                        type: selectedSolution.value.type,

                    };

                    try {
                        const response = await fetch(`/api/TopUp/${member.value.id}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${token}` // 如果需要 token
                            },
                            body: JSON.stringify(data)
                        });

                        if (response.ok) {
                            const result = await response.json();
                            // 根據 API 回傳的結果執行相應的操作，例如顯示成功訊息或重定向
                            modal.value.message = '儲值成功！';
                            modal.value.img = "../images/Topup.gif",
                            modal.value.isTopUp = true;
                            modal.value.showModal()

                        } else {
                            const error = await response.json();
                            modal.value.message = `儲值失敗：${error.message}`;
                            modal.value.img = "../images/alert.gif";
                            modal.value.showModal()
                        }
                    } catch (error) {
                        modal.value.message = `錯誤：${error.message}`;
                        modal.value.img = "../images/alert.gif";
                        modal.value.showModal()
                    }
                };

                const fetchMemberProfile = () => {
        const token = '@AuthHelper.GetTokenFromCookie()';
    member.value.id = decodedMember.Id;
    $.ajax({
        url: `/api/profile/${member.value.id}`,
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${token}`
        },
        success: (data) => {
            member.value.avatar = data.profileImage.replace('~', '');
            member.value.point = data.point
        },
        error: (xhr, status, error) => {
            console.error("獲取會員圖片失敗:", error);
            // 這裡不進行任何處理
        }
    });
};


                onMounted(fetchMemberProfile);


                return {
                    solutions,
                    selectedPayment,
                    selectedReceipt,
                    toggleSelection,
                    isSelected,
                    selectedSolution,
                    member,
                    modal,
                    BackToLastPage,
                    selectSolution,
                    confirmTopUp,
                };
            },
        };
        const app = createApp(config);
        app.mount("#app");
    </script>
}
